{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>DVS info DB</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>


</head>


<body class="background font">
    <div class="centerText">
        <div id="particles-js"></div>
        <h1 class="DVShead">DVS informatīvā datubāze</h1>
        <article class="br3 ba b--black-10 mv4 w-100 w-50-m w-25-l mw6 shadow-5 center card">
            <main class="pa4 black-80">
                <div class="measure">
                    <form method="POST" class="ba b--transparent ph0 mh0">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Login" class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib">
                        <!-- <div class="mt3">
                            <label class="db fw6 lh-copy f6">Lietotājs</label>
                            <input
                            class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100"/>
                        </div>
                        <div class="mv3">
                            <label class="db fw6 lh-copy f6" htmlFor="password">Parole</label>
                            <input
                            class="b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100"
                            type="password"
                            name="password"
                            id="password"/>
                        </div>
                        <div>
                            <input
                                class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib"
                                type="submit"
                                value="Pievienoties"
                            />
                            </div> -->
                    </form>
                    
                    <div class="lh-copy mt3">
                        <p class="f6 link dim black db pointer">Pieprasīt rediģēšanas tiesības</p>
                    </div>
                </div>
            </main>
        </article>
    <script src="{% static '/particles.js-master/particles.js' %}"></script>
    <script src="{% static '/particles.js-master/demo/js/app.js' %}"></script>
    <!-- <script src="./script.js"></script> -->
    </div>
</body>


</html>