{% extends 'base.html' %}

{% block content %}
    <br/>
    <center>
        <h1>Pievienot jaunu RTU iekārtu</h1>
    </center>
    <br/>

    <form method="POST" action="{% url 'add_rtu' rtu_object_data.id_dvs%}">
    {% csrf_token %}
        <!-- <div class="form-group mb-3">
            <label>Reģions</label>
            <select class="form-control" name="reģions" value="{{reģions}}">
            <option>AR</option>
            <option>DR</option>
            <option>PR</option>
            <option>RP</option>
            <option>RR</option>
            <option>ZA</option>
            <option>ZR</option>
            </select>
        </div> -->

        <div class="card text-center">
            <div class="card-header">
                <h3>RTU iekārtas informācija</h3>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="reģions" name="reģions" value="{{rtu_object_data.reģions}}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Nodaļa" name="nodaļa" value="{{rtu_object_data.nodaļa}}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Iezīme" name="iezīme" value="{{rtu_object_data.iezīme}}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Objekts" name="objekts" value="{{rtu_object_data.objekts}}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Tips" name="tips" value="{{ tips }}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Ražotajs" name="iekārtas_ražotājs" value="{{ iekārtas_ražotājs }}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Modelis" name="modelis" value="{{ modelis }}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Daudzums" name="daudzums" value="{{ daudzums }}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Uzstadīšanas vieta" name="uzstadīšanas_vieta" value="{{ uzstadīšanas_vieta }}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="FW versija" name="programmaturas_versija" value="{{ programmaturas_versija }}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="piezīme" name="piezīme" value="{{piezīme}}">
                </div>
            </div>
            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-success btn-lg">Pievienot RTU iekārtu</button>
            </div>
        </div>
    </form>
{% endblock %}