{% extends 'base.html' %}

{% block content %}
    <br/><br/>
    <div class="card w-75">
        <div class="card-body">
        <h3 class="card-title">{{deleted_raa.objekts}} {{deleted_raa.raa_ražotājs}} {{deleted_raa.raa_modelis}}</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <h5>Vai vēlaties dzēst šo RTU iekārtu?</h5>
            <input type="submit" value="Dzēst" class="btn btn-danger btn-lg"><br/><br/>
        </form>
        </div>
    </div>

{% endblock %}