{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}

            <main>
                <div>
                    <br/>
                    
                    <div class="container-xl">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h5>Objekta meklēšana (nolaižamā izvēle)</h5>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div id="test1" class="container-sm">
                                            <div class="card mb-4">
                                                <div class="card-body">
                                                    <div class="d-grid gap-2">
                                                        <div class="dropdown">
                                                            <button id="test2" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                                Reģions
                                                            </button>
                                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                                <li><a class="dropdown-item" href="#">AR</a></li>
                                                                <li><a class="dropdown-item" href="#">DR</a></li>
                                                                <li><a class="dropdown-item" href="#">PR</a></li>
                                                                <li><a class="dropdown-item" href="#">RP</a></li>
                                                                <li><a class="dropdown-item" href="#">RR</a></li>
                                                                <li><a class="dropdown-item" href="#">ZA</a></li>
                                                                <li><a class="dropdown-item" href="#">ZR</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button id="test2" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                                Nodaļa
                                                            </button>
                                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                                <li><a class="dropdown-item" href="#">...</a></li>
                                                                <li><a class="dropdown-item" href="#">...</a></li>
                                                                <li><a class="dropdown-item" href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button id="test2" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                                Objekta iezīme
                                                            </button>
                                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                                <li><a class="dropdown-item" href="#">A/st.</a></li>
                                                                <li><a class="dropdown-item" href="#">SP</a></li>
                                                                <li><a class="dropdown-item" href="#">KP</a></li>
                                                                <li><a class="dropdown-item" href="#">TP</a></li>
                                                                <li><a class="dropdown-item" href="#">j.sl.</a></li>
                                                                <li><a class="dropdown-item" href="#">atd.</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button id="test2" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                                Objekts
                                                            </button>
                                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                                <li><a class="dropdown-item" href="#">...</a></li>
                                                                <li><a class="dropdown-item" href="#">...</a></li>
                                                                <li><a class="dropdown-item" href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                        <br/>
                                                        <a href="#" id="test2" class="btn btn-success">Atvērt</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            DVS objektu datu tabula
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Reģions</th>
                                            <th>Nodaļa</th>
                                            <th>Objekta OA</th>
                                            <th>Objekta Nosaukums</th>
                                            <th>RTU ražotājs</th>
                                            <th>IP adrese</th>
                                            <th>Pieslēguma veids</th>
                                            <th>Adrese</th>
                                            <th>Uzst. gads</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Reģions</th>
                                            <th>Nodaļa</th>
                                            <th>Objekta OA</th>
                                            <th>Objekta Nosaukums</th>
                                            <th>RTU ražotājs</th>
                                            <th>IP adrese</th>
                                            <th>Pieslēguma veids</th>
                                            <th>Adrese</th>
                                            <th>Uzst. gads</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for item in main_dvs %}
                                        <tr>
                                            <td>{{item.reģions }}</td>
                                            <td>{{ item.nodaļa }}</td>
                                            <td><a href="{% url 'single_object' item.id_dvs %}">{{ item.objekts }}</a></td>
                                            <td>{{ item.objekta_nosaukums }}</td>
                                            <td>{{ item.rtu_ražotājs }}</td>
                                            <td>{{ item.rtu_ip_adrese }}</td>
                                            <td>{{ item.pieslēguma_veids }}</td>
                                            <td>{{ item.adrese }}</td>
                                            <td>{{ item.vec_komp_gads }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
    {% else %}
        <br/>
        <div class="card-body">
            Please login to access data  <a href="{% url 'login' %}">Login</a> 
        </div>
    {% endif %}        

        
{% endblock %}
