{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>DVS info DB</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>


<body class="background font">
    <div class="centerText">
        <div id="particles-js"></div>
        <h1 class="DVShead">Izveidot jaunu lietotāju</h1>
        <article class="br3 ba b--black-10 mv4 w-100 w-50-m w-25-l mw6 shadow-5 center card">
            <main class="pa4 black-80">
                <div class="measure">
                  <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group mb2">
                        <label class="db fw6 lh-copy f6" for="{{ form.username.id_for_label }}">Lietotājvārds:</label>
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                    <div class="form-group mb2">
                      <label class="db fw6 lh-copy f6" for="{{ form.first_name.id_for_label }}">Vārds:</label>
                      {{ form.first_name }}
                      {{ form.first_name.errors }}
                    </div>
                    <div class="form-group mb2">
                      <label class="db fw6 lh-copy f6" for="{{ form.last_name.id_for_label }}">Uzvārds:</label>
                      {{ form.last_name }}
                      {{ form.last_name.errors }}
                    </div>
                    <div class="form-group mb2">
                      <label class="db fw6 lh-copy f6" for="{{ form.email.id_for_label }}">Epasts:</label>
                      {{ form.email }}
                      {{ form.email.errors }}
                    </div>
                    <div class="form-group mb2">
                      <label class="db fw6 lh-copy f6" for="{{ form.password1.id_for_label }}">Parole:</label>
                      {{ form.password1 }}
                      {{ form.password1.errors }}
                    </div>
                    <div class="form-group">
                        <label class="db fw6 lh-copy f6" for="{{ form.password2.id_for_label }}">Parole atkārtoti:</label>
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                    </div>
                    <button class="mt2 b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit">Izveidot</button>

                  </form>
                </div>
            </main>
        </article>
    <script src="{% static '/particles.js-master/particles.js' %}"></script>
    <script src="{% static '/particles.js-master/demo/js/app.js' %}"></script>
    <!-- <script src="./script.js"></script> -->
    </div>
</body>


</html>